@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap'); /* font-family: 'Roboto', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:wght@500&display=swap'); /* font-family: 'Montserrat', sans-serif; */

* {
    box-sizing: border-box;
    margin: 0;
}


body {
    background-color: #7b958d;   
    font-family: 'Montserrat', sans-serif;
}


/* Inicio configurações do cabeçalho */
header {
}

#top {
    border: 1px solid #223839;
    background-color: #223839;
    text-align: center;
    height: 100px;

}

#brasao {
    position: absolute;
    float: left;
    margin-top: 10px;
    margin-left: 20px;
    
}

.navtext {
    color: #7b958d;
    font-size: 40px;
    margin-top: 10px;
    margin-bottom: 12px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    cursor: pointer; 
    
}

#navbar {
    font-size: 15px;
}

#navbar a {
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    color: #f2f3ee;
    font-family: 'Roboto', sans-serif;   
}

#navbar a:hover {
    background-color: #4abc9e;
    color: #f2f3ee;
}

/* Fim das configurações do cabeçalho */

/* Inicio das configurações do Corpo Seção foto*/

#topimagecity {
    height: 1500px;
    background-image: url(./img//cmaposgeraispretoebranco.png);
    background-position: center;
    background-size: cover;
}

#topimagecity:hover {
    background-image: url(./img/camposgerais2.png);
    cursor: pointer;
}


.resumecity {
    color: #f2f3ee;
    border: 2px solid #f2f3ee;
    display: inline-block;
    height: 150px;
    font-size: 20px;
    width: 600px;
    padding: 0px;
    background-color: #4abc9e;
    margin-top: 200px;
    margin-left: 100px;
}

.resumecity p {
    text-align: justify;
    padding: 15px;
    cursor: pointer;
    margin-top: 15px;
}

.resumecity:hover {
    background-color: #7b958d;
    color: #223839;
}

#video {
    text-align: center;
    margin-top: 250px;
    border: none;
}

/* Fim das configurações do Corpo Seção foto*/

/* Inicio das configurações do Corpo*/

.corpo {
    margin: 50px 10%;
    background-color: #f2f3ee;
    border-radius: 15px;
    padding: 45px;
    font-size: 15px;
}

.corpo p, h2 {
    margin-left: 0;
    margin-bottom: 30px;
    color: #223839;
}

.titulo {
    font-family: 'Roboto', sans-serif;
    color: #4abc9e;
}

.curiosidades div ol li {
    margin-bottom: 20px;
}

.prefeitos li {
    list-style: none;
}

.rodape {
    background-color: #223839;
    color: #f2f3ee;  
}


.contatoredes {
    color: #f2f3ee;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    margin-bottom: 20px;
    padding-top: 20px;
}


.redesocial {
    text-align: center;
}

.rd1 {
    margin-right: 30px;
}

.creditos {
    text-align: center;
    margin-top: 30px;
}

.check1 {
    font-family: 'Roboto', sans-serif; 
}

.project {
    margin-top: 20px;
    color: #f2f3ee;
    font-size: 12px;
}

.project a {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: #4abc9e;
}

.project a:hover {
    color: #56c4e6;
}